body {
  background-color: #fff;
  font: 14px/20px Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; 
  }
a {
  color: #036f77;
  }

/*-----------------------------------
Map
-------------------------------------*/
#map {
  background-color: #2D2A2A;
  height: 100%;
  position:absolute; 
  top:0px; 
  width:100%; 
  }

.map-attribution{
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: #333333;
    font-size: 11px;
    right: 0;
    line-height: 20px;
    padding: 0 5px;
    position: absolute;
    text-align: center;
    z-index: 99999;
  }

/*-----------------------------------
Loading
-------------------------------------*/
.loading {
  position: relative;
  }

.loading:after {
  background: url(../images/ajax-loader.gif) no-repeat;
  content: "Cargando...";
  color: #666;
  left: 50%;  
  height: 16px;
  line-height: 16px;
  margin-top: -8px;
  margin-left: -40px;
  position: absolute;
  font-size: 12px;
  top: 50%; 
  text-indent: 26px;
  width: 80px;
  }
#map.loading:after {
  background-color: #333;
  background-color: rgba(0,0,0,0.75);
  background-image: url(../images/ajax-loader-rev.gif);
  color: #fff;
  padding: 20px;
  background-position: 20px 50%;
  border-radius: 10px;
  z-index: 999999;
  position: absolute;
  }

.title,
.container.controls {
  float: left;
}

.subtitle{
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
  clear: left;
  z-index: 5;
  font-size: 11px;
}

.nav li {
    line-height: 30px;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, 
.navbar .nav li.dropdown.active > .dropdown-toggle .caret, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
 margin-top: 12px;
}

.navbar{
  position:absolute;
  top:0px;
  z-index: 12;
  width:100%;
}

.navbar .brand {
  padding-top: 14px;
}

.dropdown-menu{
  height:600px;
  max-height:600px;
  overflow-y:scroll;
}

.zoomer{
  top:48px;
 
}


