body {
  background-color: #fff;
  font: 14px/20px Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: #036f77;
}

/*-----------------------------------
Map
-------------------------------------*/
#map {
  background-color: #080d12;
  height: 100%;
  position: absolute;
  top: 0px;
  width: 100%;
}

.map-attribution {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #333333;
  font-size: 11px;
  right: 0;
  line-height: 20px;
  padding: 0 5px;
  position: absolute;
  text-align: center;
  z-index: 99999;
}

.title,
.container.controls {
  float: left;
}

.subtitle {
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
  clear: left;
  z-index: 5;
  font-size: 11px;
}

.nav li {
  line-height: 30px;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  margin-top: 12px;
}

.navbar {
  position: absolute;
  top: 0px;
  z-index: 12;
  width: 100%;
}

.navbar .brand {
  padding-top: 14px;
}

.dropdown-menu {
  height: 600px;
  max-height: 600px;
  overflow-y: scroll;
}

.zoomer {
  top: 48px;
}
