body {
  background-color: #fff;
  font: 14px/20px Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; 
  }



/*-----------------------------------
Map
-------------------------------------*/

#map {
  background-color: #2D2A2A;
  height: 100%;
  position:absolute; 
  top:0px; 
  width:100%; 
  }

.userlayers{
  position:absolute;
  background-color: #fff;
  top:0px;
  left: :0px;
  width:200px;
  height:auto;
  z-index: 2;
}