body {
  background-color: #fff;
  font: 14px/20px Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; 
  }



/*-----------------------------------
Map
-------------------------------------*/

#map {
  background-color: #2D2A2A;
  height: 100%;
  position:absolute; 
  top:0px; 
  width:100%; 
  }

.contain-left{
  position:absolute;
  background-color: #fff;
  bottom:0px;
  left: :0px;
  width:200px;
  height:auto;
  z-index: 2;
}

.contain-rigth{
   position:absolute;
  background-color: #fff;
  bottom:0px;
  right:0px;
  width:200px;
  height:auto;
  z-index: 2;
}



/*-----------------------------------
Loading
-------------------------------------*/

.loading {
  position: relative;
  }

.loading:after {
  background: url(../images/ajax-loader.gif) no-repeat;
  content: "Cargando...";
  color: #666;
  left: 50%;  
  height: 16px;
  line-height: 16px;
  margin-top: -8px;
  margin-left: -40px;
  position: absolute;
  font-size: 12px;
  top: 50%; 
  text-indent: 26px;
  width: 80px;
  }

#map.loading:after {
  background-color: #333;
  background-color: rgba(0,0,0,0.75);
  background-image: url(../images/ajax-loader-rev.gif);
  color: #fff;
  padding: 20px;
  background-position: 20px 50%;
  border-radius: 10px;
  z-index: 999999;
  position: absolute;
  }


/*

.marker-tooltip
*/
/*.marker-tooltip{
  position:fixed;
  top:0px;
  left:0px;
}*/

.marker-popup{
  position:fixed;
  top:0px;
  left:0px;
  z-index: 100;
}

.well-toltip{
    top:0px;
  left:0px;
}