<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>driver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:postgresql://localhost:5432/db_planet_us</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>pwname</param-name>
        <param-value>1234</param-value>
    </context-param>
    <servlet>
        <servlet-name>SListUsers</servlet-name>
        <servlet-class>tur.servlet.SListUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SConfigJson</servlet-name>
        <servlet-class>tur.servlet.SConfigJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SconfigJsonAll</servlet-name>
        <servlet-class>tur.servlet.S_projectmml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_style</servlet-name>
        <servlet-class>tur.servlet.S_style</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaUsuarios</servlet-name>
        <servlet-class>tur.servlet.ListaUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SListUsers</servlet-name>
        <url-pattern>/SListUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SConfigJson</servlet-name>
        <url-pattern>/SConfigJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SconfigJsonAll</servlet-name>
        <url-pattern>/SconfigJsonAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_style</servlet-name>
        <url-pattern>/S_style</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaUsuarios</servlet-name>
        <url-pattern>/ListaUsuarios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
